<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:int="http://www.springframework.org/schema/integration"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:beans="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
   						http://www.springframework.org/schema/beans/spring-beans.xsd
                		http://www.springframework.org/schema/context 
                		http://www.springframework.org/schema/context/spring-context-3.1.xsd
                		http://www.springframework.org/schema/mvc
        				http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
        				http://www.springframework.org/schema/integration
   						http://www.springframework.org/schema/integration/spring-integration.xsd">

	<context:annotation-config />
	<mvc:annotation-driven/>
	<context:component-scan base-package="com.demo.controllers" />

	<!-- <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" /> -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />

	<bean name="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<int:channel id="inputChannel"/>
 	<int:channel id="outputChannel"> 
 		<int:queue capacity="25" />
 	</int:channel>

	<int:service-activator input-channel="inputChannel"
                   		   output-channel="outputChannel"
                    	   ref="myService"
                           method="sayHello2"/>

	<bean id="inputChannel" class="MessageChannel.class" />
	<bean id="outputChannel" class="PollableChannel.class" />

	<!-- Project specific settings: -->
	<bean id="myService" class="com.demo.controllers.MyService"/>
	
	<bean id="person" class="com.demo.model.Person">
		<property name="name" value="tom" />
	</bean>
</beans>